/* -----Reset----- */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* -----Color Variables----- */
:root {
    --col1: #ffffff;
    --col2: #90f357;
}

/* -----Common----- */
body{
    background-color: var(--col1);
}

body > div{
    height: 100vh;
    scroll-snap-type: y mandatory;
    overflow-y: scroll;
}

section{
    position: relative;
    width: 100%;
    height: 100vh;
    scroll-snap-align: start;
}

section:nth-child(even){
    background-color: var(--col2);
}

/* -----Section 01----- */
section:nth-child(1) > div:nth-child(1){
    position: absolute;
    top: 110px;
    left: 200px;
    width: 400px;
    height: 400px;
    background-color: var(--col2);
}

section:nth-child(1) > div:nth-child(2){
    position: absolute;
    bottom: 110px;
    right: 200px;
    width: 400px;
    height: 400px;
    background-color: var(--col2);
}

section:nth-child(1)::after{
    position: absolute;
    content: 'This is Section One';
    font-size: 3rem;
    font-weight: 600;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--col2);
    color: var(--col1);
    padding: 20px;
}

/* -----Section 02----- */
section:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section:nth-child(2) > div{
    background-color: var(--col1);
    width: 300px;
    height: 450px;
}

section:nth-child(2)::after{
    position: absolute;
    content: 'This is Section Two';
    font-size: 3rem;
    font-weight: 600;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--col1);
    color: var(--col2);
    padding: 20px;
}

/* -----Section 03----- */
section:nth-child(3){
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

section:nth-child(3) > div{
    background-color: var(--col2);
    width: 700px;
    height: 120px;
    margin: 12px 0px;
}

section:nth-child(3)::after{
    position: absolute;
    content: 'This is Section Three';
    font-size: 3rem;
    font-weight: 600;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--col2);
    color: var(--col1);
    padding: 20px;
}

/* -----Section 04----- */
section:nth-child(4){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

section:nth-child(4) > div{
    background-color: var(--col1);
    width: 500px;
    height: 500px;
}

section:nth-child(4) > div:nth-child(2){
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
}

section:nth-child(4) > div:nth-child(2) > div{
    background-color: var(--col2);
    width: 400px;
    height: 120px;
}

section:nth-child(4)::after{
    position: absolute;
    content: 'This is Section Four';
    font-size: 3rem;
    font-weight: 600;
    top: 80px;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--col1);
    color: var(--col2);
    padding: 20px;
}
